body {
    padding-top: 50px;
    background: #C5F693;
    font-size: 18px;
    font-family: Abrade Medium;
}

h1 {
    text-align: center;
    font-size: 24px;
}

main{
    padding-top: 50px;
}

input:hover, input:focus {
    outline: 0;
    transition: all .5s linear;
    box-shadow: inset 0 0 10px #ccc;
}

fieldset {
    margin-top: 60px;
	font-family: 'Abrade Medium', sans-serif;
}
legend {
    font-family: 'Abrade Medium', sans-serif;
    text-align: center;
    font-size: 30px;
    padding: 15px;
}
a {
    cursor: pointer;
}

.provider {
    display: inline-block;
    width: 64px;
    height: 64px;
    border-radius: 4px;
    outline: none;
}
.facebook { background: #3B5998; }
.google { background: #D14836; }
.twitter { background: #00ACED; }
.yahoo { background: #731A8B; }
.xing { background: #006567; }
.vk { background: #567ca4; }

.social-providers,
.sign-in-now,
.already-member,
.not-a-member {
    text-align: center;
    margin-top: 20px;
}

.user {
    margin-top: 5px;
}
.user .data {
    margin-top: 10px;
}

.form-control {
    border-radius: 0;
}

[class^='ion-'] {
    font-size: 1.2em;
}

.has-feedback .form-control-feedback {
    top: 0;
    left: 0;
    width: 46px;
    height: 46px;
    line-height: 46px;
    color: #555;
}

.has-feedback .form-control {
    padding-left: 42.5px;
}



.navbar-default .navbar-nav > .active {
    color: #000000 !important;
    background: #FAFEF4;
    background-color: #FAFEF4;
    box-shadow: 0 8px 2px -2px #67B215;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    background-color: #FAFEF4;
    background-image: none;
    box-shadow: none;
}

.btn {
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .26);
    font-family: 'Abrade Medium';
    color: #000000;
    background: #C5F693;
    border: 2px solid #C5F693;
}

.btn-lg {
    font-size: 18px;
}

.user{
    background: white;

}

.navbar {
    background: #FAFEF4;
    color: #000000 !important;
    height: 75px;

}
.navbar-toggle{
    margin-top: 24px;
}
.nav{
    background: #FAFEF4;
}

.nav > li > a {
    color: #7ED321 !important;
    margin-top: 20px;

}
.dropdown-menu>li>a{
    font-size: 18px;
    color: #7ED321 !important;
    background: #FAFEF4;
}

.dropdown-menu>li>a:hover {
    color: #000000 !important;
    background: #FAFEF4;
}

.nav > li > a:hover {
    color: #000000 !important;
    background: #FAFEF4;
    box-shadow: 0 8px 2px -2px #67B215;
}
.navbar-brand {
    padding: 5px 15px;
}
.navbar-brand>img {
    height: 60px;
}
.slider-handle.round {
    background: #7ED321;
}
.slider-selection {
    background: #7ED321 !important;
}

.starter-template {
    padding: 0px 15px;
}


meter {
    /* Reset the default appearance */
    -moz-appearance: none;
    appearance: none;

    margin: 0 auto 1em;
    width: 100%;
    height: .5em;

    /* Applicable only to Firefox */
    background: none;
    background-color: rgba(0,0,0,0.1);
}

meter::-webkit-meter-bar {
    background: none;
    background-color: rgba(0,0,0,0.1);
}

meter[value="0"]::-webkit-meter-optimum-value,
meter[value="1"]::-webkit-meter-optimum-value { background: red; }
meter[value="2"]::-webkit-meter-optimum-value { background: orange; }
meter[value="3"]::-webkit-meter-optimum-value { background: yellow; }
meter[value="4"]::-webkit-meter-optimum-value { background: green; }

meter::-webkit-meter-even-less-good-value { background: red; }
meter::-webkit-meter-suboptimum-value { background: orange; }
meter::-webkit-meter-optimum-value { background: green; }

meter[value="1"]::-moz-meter-bar,
meter[value="1"]::-moz-meter-bar { background: red; }
meter[value="2"]::-moz-meter-bar { background: orange; }
meter[value="3"]::-moz-meter-bar { background: yellow; }
meter[value="4"]::-moz-meter-bar { background: green; }

meter::-webkit-meter-optimum-value {
    transition: width .4s ease-out;
}

.slider-tick-label {
    font-size: 12px;
}

.display {
    position: relative;
}


.form1 {
    float: left;
    width: 48%;
    display: inline-block;
.form2 {
    float: right;
    width: 48%;
    display: inline-block;
}

.logo {
	display: block;
    margin: auto;
    max-width: 25%;
	min-width: 200px;
    height: 100;
    margin-bottom: 40px;
}

.row {
	margin-top: 20px;

}

.slider-tick.round.in-selection{
	background: #C5F693;
}

.user.row.data.col-md-4 {
	background: #C5F693;
	border: 2px solid white;
	margin-top: 80px;
}

#page1 {
	background: #7ED321;
}

.btn-sec {
	font-family: 'Abrade Regular';
	color: #FFFFFF;
	background: #7ED321;
	border: 2px solid #FFFFFF;
	position: relative;
	margin: auto;
	text-align: center;
	left: 120px;
}

.thumbnail__description {
  display: block;
  height: 2.4em;
  overflow: hidden;
}

.thumbnail__description:hover {
  height: 6em;
  max-height: 8em;
}