body {
    padding-top: 30px;
    background: #C5F693;
    font-size: 18px;
    font-family: Abrade Medium;
}

h1 {

    font-size: 24px;
}

main{
    padding-top: 40px;
}

input:hover, input:focus {
    outline: 0;
    transition: all .5s linear;
    box-shadow: inset 0 0 10px #ccc;
}

fieldset {
    padding-top: 60px;
	font-family: 'Abrade Medium', sans-serif;
}
legend {
    font-family: 'Abrade Medium', sans-serif;
    text-align: center;
    font-size: 30px;
    padding: 15px;
}
a {
    cursor: pointer;
    color: #FFFFFF;
}

.provider {
    display: inline-block;
    width: 64px;
    height: 64px;
    border-radius: 4px;
    outline: none;
}
.facebook { background: #3B5998; }
.google { background: #D14836; }
.twitter { background: #00ACED; }
.yahoo { background: #731A8B; }
.xing { background: #006567; }
.vk { background: #567ca4; }

.social-providers,
.sign-in-now {
    color: #FFFFFF;
}
.already-member,
.not-a-member {
    text-align: center;
    color: #FFFFFF;
}

.user {
    margin-top: 5px;
}
.user .data {
    margin-top: 10px;
}

.form-control {
    border-radius: 0;
}

.form-inline {
    font-size: 22px;
}

[class^='ion-'] {
    font-size: 1.2em;
}

.has-feedback .form-control-feedback {
    top: 0;
    left: 0;
    width: 46px;
    height: 46px;
    line-height: 46px;
    color: #555;
}

.has-feedback .form-control {
    padding-left: 42.5px;
}

.navbar-default .navbar-nav > .active {
    color: #000000 !important;
    background: #FAFEF4;
    background-color: #FAFEF4;
    box-shadow: 0 8px 2px -2px #67B215;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    background-color: #FAFEF4;
    background-image: none;
    box-shadow: none;
}

.user{
    background: white;

}

.navbar {
    background: #FAFEF4;
    color: #000000 !important;
    height: 75px;

}
.navbar-toggle {
    margin-top: 24px;
}
.nav{
    background: #FAFEF4;
}

.nav > li > a {
    color: #7ED321 !important;
    margin-top: 20px;

}
.dropdown-menu>li>a{
    font-size: 18px;
    color: #7ED321 !important;
    background: #FAFEF4;
}

.dropdown-menu>li>a:hover {
    color: #000000 !important;
    background: #FAFEF4;
}

.nav > li > a:hover {
    color: #000000 !important;
    background: #FAFEF4;
    box-shadow: 0 8px 2px -2px #67B215;
}
.navbar-brand {
    padding: 5px 15px;
}
.navbar-brand>img {
    height: 60px;
    position: fixed;
}
.slider-handle.round {
    background: #7ED321;
}
.slider-selection {
    background: #7ED321 !important;
}

.starter-template {
    padding: 0px 15px;
}

meter {
    /* Reset the default appearance */
    -moz-appearance: none;
    appearance: none;

    margin: 0 auto 1em;
    width: 100%;
    height: .5em;

    /* Applicable only to Firefox */
    background: none;
    background-color: rgba(0,0,0,0.1);
}

meter::-webkit-meter-bar {
    background: none;
    background-color: rgba(0,0,0,0.1);
}

meter[value="0"]::-webkit-meter-optimum-value,
meter[value="1"]::-webkit-meter-optimum-value { background: red; }
meter[value="2"]::-webkit-meter-optimum-value { background: orange; }
meter[value="3"]::-webkit-meter-optimum-value { background: yellow; }
meter[value="4"]::-webkit-meter-optimum-value { background: green; }

meter::-webkit-meter-even-less-good-value { background: red; }
meter::-webkit-meter-suboptimum-value { background: orange; }
meter::-webkit-meter-optimum-value { background: green; }

meter[value="1"]::-moz-meter-bar,
meter[value="1"]::-moz-meter-bar { background: red; }
meter[value="2"]::-moz-meter-bar { background: orange; }
meter[value="3"]::-moz-meter-bar { background: yellow; }
meter[value="4"]::-moz-meter-bar { background: green; }

meter::-webkit-meter-optimum-value {
    transition: width .4s ease-out;
}

.slider-tick-label {
    font-size: 12px;
}

.display {
    position: relative;
}


.form1 {
    float: left;
    width: 48%;
    display: inline-block;
}

.form2 {
    float: right;
    width: 48%;
    display: inline-block;
}

.logo {
	display: block;
    margin: auto;
    max-width: 25%;
	min-width: 200px;
    padding-bottom: 40px;
}

.row {
	padding-top: 15px;
}

.slider-tick.round.in-selection{
	background: #C5F693;
}

.user.row.data.col-md-4 {
	background: #C5F693;
	border: 2px solid white;
	margin-top: 10px;
}

#page1 {
	background: #7ED321;
}

.thumbnail__description {
  display: block;
  height: 2.4em;
  overflow: hidden;
  overflow-y: hidden;
}

.thumbnail__description:hover {
  height: 8em;
  overflow-y: auto;
}

.avatar img {
  object-position: center;
  width: 100%;
  max-height: 250px;
  margin-bottom: 1rem;
}
.btn {
    border-radius: 3px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .26);
    color: #000000;
    background: #C5F693;
    border: 2px solid #C5F693;
    font-size: 18px;
    margin: auto;
}
.btn-danger {
    background: #d9534f;
    border: 2px solid #d9534f;

}

.btn-signup {
    font-size: 18px;
    display: block;
    float: right;
}

.btn-signin {
	font-size: 18px;
    display: block;
}

.btn-xs {
    color: #FFFFFF;
    background: #7ED321;
    border: 2px solid #FFFFFF;
    text-align: center;
}

.btn-xs:hover {
    background:#C5F693;
}

.btn-edit:hover {
	background:#C5F693;
}

.btn-find-tutor {
	color: #FFFFFF;
	background: #7ED321;
	border: 2px solid #FFFFFF;
	text-align: center;


	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .26);
}

.btn-edit {
	color: #FFFFFF;
	background: #7ED321;
	border: 2px solid #FFFFFF;
	margin-bottom: 15px;
}

.btn-feedback {
	color: #FFFFFF;
	background: #7ED321;
	border: 2px solid #FFFFFF;
	margin-bottom: 15px;
}

.btn-default {
    color: #FFFFFF;
    background: #7ED321;
    border: 2px solid #FFFFFF;
    margin-bottom: 15px;
}

.btn-edit-tutor {
	color: #FFFFFF;
	background: #7ED321;
	border: 2px solid #FFFFFF;
	position: relative;
	margin-bottom: 19px;

	margin-top:16px;
}

.btn-my-lessons {
	color: #FFFFFF;
	background: #7ED321;
	border: 2px solid #FFFFFF;
	position: relative;

	text-align: center;

}

#shower {
    color: #FFFFFF;
    background: #7ED321;
    border: 2px solid #FFFFFF;
    padding: 5px;
    text-align: center;
    font-size: 16;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .26);


}

#hover.row {
	display: block;
    height: 2.4em;
    overflow: hidden;   
	overflow-y: hidden;
	text-align: center;
}

#hover.row:hover {
	height: 12em;
    overflow-y: auto;	
}

.tutor-card {
	float: left;
	margin: auto;
}

.user.row.data.col-md-3 {
	background: #C5F693;
	border: 2px solid white;
	margin-top: 10px;
	width:auto;
}

.feedback {
    border: 2px solid white;
    background: white;
}

.feedback-logo {
	max-width: 200px;
}

.user.row.data.col-md-8 {
	background: #C5F693;
	border: 2px solid white;
	margin-top: 10px;
}

.user-tutee {
    background: white;
    display: none;
    text-align: center;
}

@media screen and (min-width: 768px) {
     .user-tutee {
        position: fixed;
        right: 0;
        z-index: 10;
        width: 24%;
        height: 100%;
        top: 70px;
        background: rgba(255,255,255,0.9);
        box-shadow: 0 2px 4px 0 rgba(0,0,0,0.3);
        text-align: left;
        overflow: scroll;
    }
}

.psychogram {
    background: white;
    padding: 15px;
    margin: auto;
}

@media screen and (min-width: 1068px) {
     .psychogram {
       left: 22%;
    }
}

.user-matching {
    background: rgba(255,255,255,0.9);;
    text-align: center;
}

@media screen and (min-width: 768px) {
     .user-matching {
        position: fixed;
        right: 0;
        z-index: 10;
        width: 24%;
        height: 100%;
        top: 70px;
        background: rgba(255,255,255,0.9);
        box-shadow: 0 2px 4px 0 rgba(0,0,0,0.3);
        text-align: left;

        padding: 20px;
    }
}

.user-tutor {
    background: white;
    display: none;
    text-align: center;

}

@media screen and (min-width: 768px) {
     .user-tutor {
        position: fixed;
        right: 0;
        z-index: 10;
        width: 24%;
        height: 90.5%;
        top: 70px;
        background: rgba(255,255,255,0.9);
        box-shadow: 0 2px 4px 0 rgba(0,0,0,0.3);
        text-align: left;
        overflow: scroll;
    }
}

.matching {
    background:#FAFEF4;
    border-right: 10px solid #C5F693;
    border-left: 10px solid #C5F693;
    border-bottom: 20px solid #C5F693;
    padding: 10px;
    margin: auto;
}

.img-circle {
    width:200px;
    height:200px;
    object-fit:cover;
}

.matching-students {
    margin-top:20px;
    margin-left:20px;
    padding: 50px;
}

.tutor-your-profile {
    background:#FAFEF4;
    border-right: 10px solid #C5F693;
    padding: 30px;
}

.tutor-message {
    font-size:20px;
}

.description {
    padding-left: 15px;
    padding-right: 10px;
}

.edit-profile-tutee {
    background: white;
    margin-bottom: 15px;
}

@media screen and (min-width: 1068px) {
     .edit-profile-tutee {
       left: 18%;
    }
}

.edit-profile-tutor {
    background: white;
    margin-bottom: 15px;
}

@media screen and (min-width: 1068px) {
     .edit-profile-tutor {
       left: 18%;
    }
}

.circle {
    width: 65px;
    height: 65px;
    background: #C5F693;
    border-radius: 50px;
    font-size: 24px;
    margin: auto;
}

.class-level {
    float: right;
    width:45%;
}

.school-name {
    float: right;
    width:45%;
}

.dob {
    float: left;
    width:45%;
}

.language {
    float: left;
    width:45%;
}

.gender {
    font-size: 20px;
}

.main-language {
    float: right;
    width: 45%;
}

.working-language {

    width: 45%;
}

.calendar {
    background: white;
    padding: 20px;
    margin-bottom: 10px;
}

.questionaire {
    background: white;
    padding-top: 15px;
    border-radius: 20px;
}

.glyphicon-search {
    margin-right: 6px;
}