@import controllers.AssetsFinder

@(user: models.User)(implicit assets: AssetsFinder)
<section>
  <div class="avatar">
    @if(user.image.isDefined && user.image.get.nonEmpty) {
    <img class="img-circle" src="@controllers.routes.ApplicationController.getImage" style="width:130px; height:130px; object-fit:cover;"/>
    } else {
    <img class="img-circle" src="@user.avatarURL.getOrElse(assets.path("images/yes.png"))" style="width:130px; height:130px; object-fit:cover;"/>
    }
  </div>
  
</section>
