@import play.api.i18n.Messages
@import play.api.mvc.RequestHeader
@import org.webjars.play.WebJarsUtil
@import controllers.AssetsFinder
@import utils.TemplateHelpers._

@(user: models.User)(implicit request: RequestHeader, messages: Messages, webJarsUtil: WebJarsUtil, assets: AssetsFinder)

@main(messages("feedback.title"), Some(user)) {
<div class="col-md-4 col-md-offset-4 text-center" style="border: 2px solid white; margin-top: -20px;">
<img class="feedback-logo" src="@assets.path("images/pg.png")"/>
    <div class="row">
        @messages("thanks")!
    </div>
    <br/>
    <div class="row">
        @messages("tutee.feedback.text1")
    </div>
    <br/>
    <div class="row">
        @messages("tutee.feedback.text2")
    </div>
    <br/>
    <div class="row">
        <a href="https://docs.google.com/forms/d/1t42zSseAa1h_pPMYeXevbKTsZxiYATtIoJvh4i5O8QA" class="btn btn-default">@messages("tutee.feedback")</a>
    </div>
    <br/>
    <div class="row">
        Falls du Fragen hast, frag uns jederzeit gern.
    </div>
</div>
}
