@import play.api.i18n.Messages
@import play.api.mvc.RequestHeader
@import org.webjars.play.WebJarsUtil
@import controllers.AssetsFinder

@(user: models.User, tutors: Seq[models.Tutor])(implicit request: RequestHeader, messages: Messages, webJarsUtil: WebJarsUtil, assets: AssetsFinder)

@main(messages("matching.title"), Some(user)) {
<div class="col-md-12">
        @tutors.grouped(3).toList.map { grouped =>
            <div class="row" style="margin-top:20px; margin-bottom:20px;">
                @grouped.map { tutor =>
                    <div class="col-md-4 text-center" style="background:#FAFEF4; border-right: 20px solid #C5F693; ">
                        <div class="row">
                            <img class="img-circle" src='@{assets.path("images/" + tutor.avatarUrl)}' style="width:200px; height:200px; object-fit:cover;">
                        </div>
                        <div class="row>">
                            @tutor.matchingScore % Match
                        </div>
                        <div class="row">
                            @tutor.subject · @tutor.interest
                        </div>
                        <div class="row">
                           <strong>@tutor.firstName @tutor.lastName</strong>
                        </div>
                        <br>
                        <div class="thumbnail__description">
                        @tutor.description
                        </div>
                        <div class="row">
                            @tutor.price € / 90 min
                        </div>
                        <div class="row">
                            <a href="@controllers.routes.ApplicationController.feedback(tutor.order)" class="btn btn-default">@messages("matching.choose")</a>
                        </div>
                    </div>
                }
            </div>
        }
</div>
}
<script>$('#navbar .nav #find-tutor').addClass('active');</script>
