@import play.api.i18n.Messages
@import play.api.mvc.RequestHeader
@import org.webjars.play.WebJarsUtil
@import controllers.AssetsFinder

@(user: models.User, tutors: Seq[models.Tutor])(implicit request: RequestHeader, messages: Messages, webJarsUtil: WebJarsUtil, assets: AssetsFinder)

@main(messages("matching.title"), Some(user)) {
<div class="col-md-12">
    <legend>Matching! Work in progress! :)</legend>
        @tutors.grouped(3).toList.map { grouped =>

            <div class="row" style="margin-top:20px;">
                @grouped.map { tutor =>
                    <div class="col-md-4 text-center">
                        <div class="row>">
                            <img class="img-circle" src='@{assets.path("images/" + tutor.avatarUrl)}'style="width:200px; height:200px; object-fit:cover;">
                        </div>
                        <div class="row>">
                            @tutor.matchingScore %
                        </div>
                        <div class="row>">
                            @tutor.subject · @tutor.interest
                        </div>
                        <div class="row>">
                            @tutor.firstName @tutor.lastName
                        </div>
                        <div class="row>">
                            @tutor.description
                        </div>
                        <div class="row>">
                            @tutor.price €
                        </div>
                        <div class="row>">
                            <a href="@controllers.routes.ApplicationController.feedback" class="btn btn-default">Choose</a>
                        </div>
                    </div>
                }
            </div>
        }
</div>
}
