@import play.api.i18n.Messages
@import play.api.mvc.RequestHeader
@import org.webjars.play.WebJarsUtil
@import controllers.AssetsFinder
@import utils.TemplateHelpers._

@(user: models.User, profile: models.TuteeProfile, tutors: Seq[models.TutorMatch])(implicit request: RequestHeader, messages: Messages, webJarsUtil: WebJarsUtil, assets: AssetsFinder)

@main(messages("matching.title"), Some(user)) {
<div class="col-md-10">

    <div id="tutee" class="user-matching data">
        <div class="col-md-12">
            <div class="row text-center">
                @avatar(user)
            </div>
            <div class="row text-center">
                <p><strong>@user.firstName.getOrElse("None") @user.lastName.getOrElse("None")</strong></p>
            </div>

            <div class="row">
                <p class="col-md-6"><strong>@messages("profile.gender"):</strong></p>
                <p class="col-md-6">@messages("gender." + profile.gender)</p>
            </div>
            <div class="row">
                <p class="col-md-6"><strong>@messages("profile.dob"):</strong></p>
                <p class="col-md-6">@parseDate(profile.dob)</p>
            </div>
            <div class="row">
                <p class="col-md-6"><strong>@messages("profile.class.level"):</strong></p>
                <p class="col-md-6">@profile.classLevel</p>
            </div>
            <div class="row">
                <p class="col-md-6"><strong>@messages("profile.school.name"):</strong></p>
                <p class="col-md-6">@profile.schoolName</p>
            </div>
            <div class="row">
                <p class="col-md-6"><strong>@messages("profile.language"):</strong></p>
                <p class="col-md-6">@messages("language."+profile.mainLanguage)</p>
            </div>


        </div>
    </div>
    </div>
        @tutors.grouped(3).toList.map { grouped =>
            <div class="row col-md-10">
                @grouped.map { tutor =>
                    <div class="matching col-md-4 text-center">
                        <div class="row">
                            @if(!tutor.isFake) {
                                <img class="img-circle" src='@controllers.routes.ApplicationController.image(tutor.userID)'>
                            } else {
                                <img class="img-circle" src='@{assets.path("images/" + tutor.avatarUrl.get)}'>
                            }

                        </div>
                        <div class="circle row text-center>">
                            @tutor.matchingScore%
                        </div>
                        <div class="row">
                            <strong>@tutor.firstName @tutor.lastName</strong>
                        </div>
                        <div class="row">
                            @tutor.subject1 · @if(tutor.subject2.isDefined) {@tutor.subject2.get ·} @tutor.interest
                        </div>
                        <br>
                        <div class="thumbnail__description">
                            @tutor.description
                        </div>
                        <div class="row">
                            @tutor.price.ceil.toInt € / 90 min
                        </div>
                        <div class="row">
                            <a href="@controllers.routes.EventTuteeController.tutorCalendar(tutor.userID)" class="btn btn-default">@messages("matching.choose")</a>
                        </div>

                    </div>

                }
            </div>
        }

</div>

}
<script>$('#navbar .nav #find-tutor').addClass('active');</script>
