@import play.api.data.Form
@import play.api.i18n.Messages
@import play.api.mvc.RequestHeader
@import org.webjars.play.WebJarsUtil
@import controllers.AssetsFinder
@import b3.inline.fieldConstructor

@(profileForm: Form[models.UserProfile], user: models.User)(implicit request: RequestHeader, messages: Messages, webJarsUtil: WebJarsUtil, assets: AssetsFinder)

@main(messages("profile.title"), Some(user)) {
<script src='@assets.path("javascripts/bootstrap-slider.min.js")'></script>
    <div class="user col-md-6 col-md-offset-3">
        <div class="row">
            <legend>@messages("profile.edit")</legend>
            <div class="col-md-12 text-right">
                <img src="@user.avatarURL.getOrElse(assets.path("images/silhouette.png"))" height="40px" />
            </div>
            <hr class="col-md-12" />
        </div>
        <div class="row data">
            <div class="col-md-12">
                @helper.form(action = controllers.routes.ProfileController.submit()) {
                    @helper.CSRF.formField
                    @b3.hidden(profileForm("userID"), 'value -> "java.util.UUID.randomUUID()")
                    <div class="form-group">
                        @b3.select(profileForm("gender"),  options=models.enums.Gender.values.toSeq.map(g => g.toString -> ("gender."+g.toString)), '_label -> "profile.gender")
                        @b3.date(profileForm("dob"), '_label -> "profile.dob", 'class -> "form-control input-lg")
                        <label for="slider-classLevel">@messages("profile.class.level.edit")</label>
                        <p><input id="slider-classLevel" name='classLevel' data-slider-id='ex1Slider' type="text" data-slider-min="7" data-slider-max="13" data-slider-step="1" data-slider-value='@profileForm.data.get("classLevel")'/></p>
                        @b3.text(profileForm("schoolName"), '_label -> "profile.school.name.edit", 'class -> "form-control input-lg")
                        @b3.select(profileForm("mainLanguage"),  options=models.enums.Language.values.toSeq.map(l => l.toString -> ("language."+l.toString)), '_label -> "profile.language.edit")
                        @b3.select(profileForm("subjectImprove"),  options=models.enums.Subject.values.toSeq.map(s => s.toString -> ("subject."+s.toString)), '_label -> "profile.subject.improve.edit")

                        <div class="col-md-12"><label for="slider-scoreSubjectImprove">@messages("profile.subject.improve.score.edit")</label></div>
                        <p><input id="slider-scoreSubjectImprove" name='scoreSubjectImprove' data-slider-id='ex1Slider' type="text" data-slider-min="1" data-slider-max="6" data-slider-step="1" data-slider-value='@profileForm.data.get("scoreSubjectImprove")'/></p>

                        @b3.select(profileForm("subjectGoodAt"),  options=models.enums.Subject.values.toSeq.map(s => s.toString -> ("subject."+s.toString)), '_label -> "profile.subject.goodat.edit")

                        <label for="slider-scoreSubjectGoodAt">@messages("profile.subject.goodat.score.edit")</label>
                        <p><input id="slider-scoreSubjectGoodAt" name='scoreSubjectGoodAt' data-slider-id='ex1Slider' type="text" data-slider-min="1" data-slider-max="6" data-slider-step="1" data-slider-value='@profileForm.data.get("scoreSubjectGoodAt")'/></p>

                        @b3.select(profileForm("interest1"),  options=models.enums.Interest.values.toSeq.map(i => i.toString -> ("interest."+i.toString)), '_label -> "profile.interest.edit")
                        <label for="slider-interest1">@messages("profile.interest.time.edit")</label>
                        <p><input id="slider-interest1" name='timeInterest1' data-slider-id='ex1Slider' type="text" data-slider-ticks="[1, 5]" data-slider-ticks-labels='["@messages("profile.interest.time.very.little")", "@messages("profile.interest.time.many.hours")"]' data-slider-tooltip="hide" data-slider-min="1" data-slider-max="5" data-slider-step="1" data-slider-value='@profileForm.data.get("timeInterest1")'/></p>
                        @b3.select(profileForm("interest2"),  options=models.enums.Interest.values.toSeq.map(i => i.toString -> ("interest."+i.toString)), '_label -> "profile.interest.edit")
                        <label for="slider-interest2">@messages("profile.interest.time.edit")</label>
                        <p><input id="slider-interest2" name='timeInterest2' data-slider-id='ex1Slider' type="text" data-slider-ticks="[1, 5]" data-slider-ticks-labels='["@messages("profile.interest.time.very.little")", "@messages("profile.interest.time.many.hours")"]' data-slider-tooltip="hide" data-slider-min="1" data-slider-max="5" data-slider-step="1" data-slider-value='@profileForm.data.get("timeInterest2")'/></p>
                        @b3.select(profileForm("interest3"),  options=models.enums.Interest.values.toSeq.map(i => i.toString -> ("interest."+i.toString)), '_label -> "profile.interest.edit")
                        <label for="slider-interest3">@messages("profile.interest.time.edit")</label>
                        <p><input id="slider-interest3" name='timeInterest3' data-slider-id='ex1Slider' type="text" data-slider-ticks="[1, 5]" data-slider-ticks-labels='["@messages("profile.interest.time.very.little")", "@messages("profile.interest.time.many.hours")"]' data-slider-tooltip="hide" data-slider-min="1" data-slider-max="5" data-slider-step="1" data-slider-value='@profileForm.data.get("timeInterest3")'/></p>

                        @b3.free('_id -> "idFormGroup") {
                            @*<a class="btn btn-default" href="@controllers.routes.ProfileController.view"> <span class="glyphicon glyphicon-remove"></span>@messages("cancel")</a>*@
                            <button type="submit" class="btn btn-primary"> <span class="glyphicon glyphicon-ok"></span>@messages("next")</button>
                        }
                    </div>
                }
            </div>
        </div>
        <script>
                $('input[id^="slider-"]').slider()
            </script>
    </div>
}
