@import play.api.data.Form
@import play.api.i18n.Messages
@import play.api.mvc.RequestHeader
@import org.webjars.play.WebJarsUtil
@import controllers.AssetsFinder
@import b3.inline.fieldConstructor

@(profileForm: Form[models.TutorProfile], user: models.User, allowedToEditQuestions: Boolean)(implicit request: RequestHeader, messages: Messages, webJarsUtil: WebJarsUtil, assets: AssetsFinder)

@main(messages("profile.title"), Some(user)) {
<script src='@assets.path("javascripts/bootstrap-slider.min.js")'></script>
	<div class="col-md-6 col-md-offset-3">
		<div class="row">			
			<div class="col-md-4 col-md-offset-4 thumb-post">
				@if(user.image.isDefined && user.image.get.nonEmpty) {
					<img class="img-circle" src="@controllers.routes.ApplicationController.getImage" style="width:130px; height:130px; object-fit:cover;"/>
				} else {
					<img class="img-circle" src="@user.avatarURL.getOrElse(assets.path("images/yes.png"))" style="width:130px; height:130px; object-fit:cover;"/>
				}
			</div>
		</div>
		<div class="row data">
			<div class="col-md-12">
				@helper.form(action = controllers.routes.TutorProfileController.submit(), 'enctype -> "multipart/form-data") {
					@helper.CSRF.formField
					<div class="text-center">
						<label for="picture" class="btn btn-xs">@messages("upload.image")</label>
						<input id="picture" type="file" style="visibility:hidden;" name="picture" accept="image/*" >
					</div>
					<div class="form-group">
						@b3.select(profileForm("gender"),  options=models.enums.Gender.values.toSeq.map(g => g.toString -> ("gender."+g.toString)), '_label -> "profile.gender", '_default -> "choose.one")
						@b3.date(profileForm("dob"), '_label -> "profile.dob.edit", 'class -> "form-control")
						@b3.select(profileForm("mainLanguage"),  options=models.enums.Language.selectList(messages), '_label -> "profile.language.edit", '_default -> "choose.one")
						@b3.select(profileForm("workingLanguage"),  options=models.enums.Language.selectList(messages), '_label -> "profile.working.language.edit", '_default -> "choose.one")
						@b3.textarea(profileForm("description"), '_label -> "profile.description.edit")
						@b3.textarea(profileForm("instituteAttended"), '_label -> "profile.institute.attended.edit")
						<label for="occupation">@messages("profile.occupation.degree.edit")</label>
						<div id="occupation" class="row">
							<div class="col-md-6">
								@b3.select(profileForm("occupationDegree"), options=models.enums.OccupationDegree.selectList(messages), '_default -> "choose.one")
							</div>
							<div class="col-md-6">
								@b3.text(profileForm("occupation"))
							</div>
						</div>
						<label for="subjects">@messages("profile.subject.able.to.teach.edit")</label>
						<div id="subjects" class="col-md-6">
						@b3.select(profileForm("subjects.subject1"),  options=models.enums.Subject.selectList(messages), '_default -> "choose.one")
						</div>
						<div class="col-md-6">
						@b3.select(profileForm("subjects.subject1Level"),  options=(7 to 12).map(s => s.toString -> s"Klasse $s") :+ ("13" -> "Abitur"), '_default -> "choose.one")						
						</div>
						<div class="col-md-6">
						@b3.select(profileForm("subjects.subject2"),  options=models.enums.Subject.selectList(messages), '_default -> "choose.one")
						</div>
						<div class="col-md-6">
						@b3.select(profileForm("subjects.subject2Level"),  options=(7 to 12).map(s => s.toString -> s"Klasse $s") :+ ("13" -> "Abitur"), '_default -> "choose.one")
						</div>
						<div class="col-md-6">
						@b3.select(profileForm("subjects.subject3"),  options=models.enums.Subject.selectList(messages), '_default -> "choose.one")
						</div>
						<div class="col-md-6">
						@b3.select(profileForm("subjects.subject3Level"),  options=(7 to 12).map(s => s.toString -> s"Klasse $s") :+ ("13" -> "Abitur"), '_default -> "choose.one")
						</div>
						<div class="col-md-6">
						@b3.select(profileForm("subjects.subject4"),  options=models.enums.Subject.selectList(messages), '_default -> "choose.one")
						</div>						
						<div class="col-md-6">							
						@b3.select(profileForm("subjects.subject4Level"),  options=(7 to 12).map(s => s.toString -> s"Klasse $s") :+ ("13" -> "Abitur"), '_default -> "choose.one")
						</div>
                         
						<label for="interests">@messages("profile.interest.edit")</label>
						<div id="interests" class="col-md-6">
						@b3.select(profileForm("interests.interest1"), options=models.enums.Interest.selectList(messages), '_default -> "choose.one")	
						</div>
						<div class="col-md-6">
						<p><input id="slider-interest1" name='interests.timeInterest1' data-slider-id='ex1Slider' type="text" data-slider-ticks="[1, 5]" data-slider-ticks-labels='["@messages("profile.interest.time.very.little")", "@messages("profile.interest.time.many.hours")"]' data-slider-tooltip="hide" data-slider-min="1" data-slider-max="5" data-slider-step="1" data-slider-value='@profileForm.data.get("interests.timeInterest1")'/></p>
						</div>
						<div class="col-md-6">
						@b3.select(profileForm("interests.interest2"), options=models.enums.Interest.selectList(messages), '_default -> "choose.one")
						</div>
						<div class="col-md-6">
			            <p><input id="slider-interest2" name='interests.timeInterest2' data-slider-id='ex1Slider' type="text" data-slider-ticks="[1, 5]" data-slider-ticks-labels='["@messages("profile.interest.time.very.little")", "@messages("profile.interest.time.many.hours")"]' data-slider-tooltip="hide" data-slider-min="1" data-slider-max="5" data-slider-step="1" data-slider-value='@profileForm.data.get("interests.timeInterest2")'/></p>
						</div>
						<div class="col-md-6">
						@b3.select(profileForm("interests.interest3"), options=models.enums.Interest.selectList(messages), '_default -> "choose.one")
						</div>
						<div class="col-md-6">	
						<p><input id="slider-interest3" name='interests.timeInterest3' data-slider-id='ex1Slider' type="text" data-slider-ticks="[1, 5]" data-slider-ticks-labels='["@messages("profile.interest.time.very.little")", "@messages("profile.interest.time.many.hours")"]' data-slider-tooltip="hide" data-slider-min="1" data-slider-max="5" data-slider-step="1" data-slider-value='@profileForm.data.get("interests.timeInterest3")'/></p>
						</div>
						@b3.select(profileForm("wishedSalary"), options=List((20, "Frischling"), (30, "Fortgeschritten"), (40, "Halb-Profi"), (50, "Profi"), (60, "Legende")).map { case (s, d) => s.toString -> s"$s € ($d)"}, '_label -> "profile.wished.salary.edit")
						@b3.select(profileForm("lessonType"), options=models.enums.LessonType.selectList(messages), '_label -> "profile.lesson.type.edit")
						@b3.text(profileForm("place"), '_label -> "profile.tutor.place.description")
						@if(allowedToEditQuestions) {
							<button type="submit" class="btn btn-default pull-right">@messages("next")<span class="glyphicon glyphicon-chevron-right"></span></button>
						} else {
							<button type="submit" class="btn btn-default pull-right">@messages("save")<span class="glyphicon glyphicon-ok"></span></button>
						}
					</div>
				}
			</div>
		</div>
		<script>
				$('input[id^="slider-"]').slider();
				if ($('#lessonType :selected').text() == 'Online') {
						$('#place_field').hide();
					};
				$('#lessonType').change(function() {
					if ($('#lessonType :selected').text() == 'Online') {
						$('#place_field').hide("slow");
					} else {
						$('#place_field').show("slow");
					}
				});

			</script>
	</div>
}
