@import play.api.i18n.Messages
@import play.api.mvc.RequestHeader
@import org.webjars.play.WebJarsUtil
@import controllers.AssetsFinder
@import utils.TemplateHelpers._

@(user: models.User, profile: Option[models.TutorProfile], psychogramData: String)(implicit request: RequestHeader, messages: Messages, webJarsUtil: WebJarsUtil, assets: AssetsFinder)

@main(messages("profile.title"), Some(user)) {
<div class="col-md-12">
        <div id="tutor" class="user-tutor data">
            <div class="col-md-12">
                <div class="row text-center">
                    @avatar(user)
                </div>
                <div class="row text-center">
                    <p><strong>@user.firstName.getOrElse("None") @user.lastName.getOrElse("None")</strong></p>
                </div>
                <div class="row">
                    <p class="col-md-6"><strong>@messages("profile.gender"):</strong></p>
                    <p class="col-md-6">@profile.map(p => messages("gender." + p.gender)).getOrElse("")</p>
                </div>
                <div class="row">
                    <p class="col-md-6"><strong>@messages("profile.dob"):</strong></p>
                    <p class="col-md-6">@profile.map(p => parseDate(p.dob)).getOrElse("")</p>
                </div>
                <div class="row">
                    <p class="col-md-6"><strong>@messages("profile.language"):</strong></p>
                    <p class="col-md-6">@profile.map(p => messages("language."+p.mainLanguage)).getOrElse("")</p>
                </div>
                <div class="row">
                    <p class="col-md-6"><strong>@messages("profile.working.language"):</strong></p>
                    <p class="col-md-6">@profile.map(p => messages("language."+p.workingLanguage)).getOrElse("")</p>
                </div>
                <div class="row">
                    <p class="col-md-6"><strong>@messages("profile.occupation.degree"):</strong></p>
                    <p class="col-md-6">@profile.map(p => messages("occupationDegree." + p.occupationDegree)).getOrElse("")</p>
                </div>
                <div class="row">
                    <p class="col-md-6"><strong>@messages("profile.occupation"):</strong></p>
                    <p class="col-md-6">@profile.map(_.occupation).getOrElse("")</p>
                </div>
                <div class="row">
                    <p class="col-md-6"><strong>@messages("profile.institute.attended"):</strong></p>
                    <p class="col-md-6">@profile.map(_.instituteAttended).getOrElse("")</p>
                </div>
                <div class="row">
                    <p class="col-md-6"><strong>@messages("profile.wished.salary"):</strong></p>
                    <p class="col-md-6">@profile.map(_.wishedSalary).getOrElse("")</p>
                </div>
                <div class="row">
                    <p class="col-md-6"><strong>@messages("profile.lesson.type"):</strong></p>
                    <p class="col-md-6">@profile.map(p => messages("lessonType." + p.lessonType)).getOrElse("")</p>
                </div>
                @if(profile.flatMap(_.place).isDefined) {
                <div class="row">
                    <p class="col-md-6"><strong>@messages("profile.tutor.place"):</strong></p>
                    <p class="col-md-6">@profile.flatMap(_.place).getOrElse("")</p>
                </div>
                }
                <div id="hover" class="row">
                    <p class="col-md-6"><strong>@messages("profile.description"):</strong></p>
                    <p class="col-md-6">@profile.map(_.description).getOrElse("")</p>
                </div>
                <div class="text-center"><a href="@controllers.routes.TutorProfileController.edit" class="btn btn-edit-tutor"><span class="glyphicon glyphicon-edit"></span>@messages("edit")</a></div>
            </div>
        </div>
    <div class="psychogram col-md-6">
        @psychogram("width: 100%", "height: 100%", user, psychogramData)
        <button id="shower" class="col-xs-12 col-md-6">Profil zeigen/verbergen</button>
        <a href="@controllers.routes.TutorProfileController.students" class="col-xs-12 col-md-6 btn btn-find-student"><span class="glyphicon glyphicon-search"></span>  @messages("tutor.my.students")</a>

    </div>
</div>
}
<script>$('#navbar .nav #my-profile').addClass('active');</script>
<script>
$( "button" ).click(function() {
  $( "#tutor" ).toggle( "slow" );
});
</script>