@import play.api.data.Form
@import play.api.i18n.Messages
@import play.api.mvc.RequestHeader
@import org.webjars.play.WebJarsUtil
@import controllers.AssetsFinder
@import b3.inline.fieldConstructor

@(profileForm: Form[models.UserProfile], user: models.User)(implicit request: RequestHeader, messages: Messages, webJarsUtil: WebJarsUtil, assets: AssetsFinder)

@main(messages("profile.title"), Some(user)) {
    <div class="user col-md-6 col-md-offset-3">
        <div class="row">
            <legend>Edit Profile</legend>
            <div class="col-md-12 text-right">
                <img src="@user.avatarURL.getOrElse(assets.path("images/silhouette.png"))" height="40px" />
            </div>
            <hr class="col-md-12" />
        </div>
        <div class="row data">
            <div class="col-md-12">
                @helper.form(action = controllers.routes.ProfileController.submit()) {
                @helper.CSRF.formField
                <input type="hidden" name='userID' value='@java.util.UUID.randomUUID()' />
                <div class="form-group">
                    @b3.select(profileForm("gender"),  options=Seq("M"->"M","F"->"F"), '_label -> "Select")
                    @b3.date(profileForm("dob"), '_hiddenLabel -> "Birth date", 'placeholder -> "Birth date", 'class -> "form-control input-lg")
                    @b3.text(profileForm("classLevel"), '_hiddenLabel -> "Class level", 'placeholder -> "Class level", 'class -> "form-control input-lg")
                    @b3.text(profileForm("schoolName"), '_hiddenLabel -> "School Name", 'placeholder -> "School Name", 'class -> "form-control input-lg")
                    @b3.text(profileForm("mainLanguage"), '_hiddenLabel -> "Main Language", 'placeholder -> "Main Language", 'class -> "form-control input-lg")
                    @b3.text(profileForm("subjectImprove1"), '_hiddenLabel -> "Subject to improve", 'placeholder -> "Subject to improve", 'class -> "form-control input-lg")
                    @b3.text(profileForm("scoreSubjectImprove1"), '_hiddenLabel -> "Score", 'placeholder -> "Score", 'class -> "form-control input-lg")
                    @b3.text(profileForm("interest1"), '_hiddenLabel -> "Interest", 'placeholder -> "Interest", 'class -> "form-control input-lg")
                    @b3.text(profileForm("timeInterest1"), '_hiddenLabel -> "Time interest", 'placeholder -> "Time interest", 'class -> "form-control input-lg")
                    @b3.text(profileForm("subjectGoodAt1"), '_hiddenLabel -> "Subject good at", 'placeholder -> "Subject good at", 'class -> "form-control input-lg")
                    @b3.text(profileForm("scoreSubjectGoodAt1"), '_hiddenLabel -> "Score", 'placeholder -> "Score", 'class -> "form-control input-lg")
                </div>
                <a href="@controllers.routes.ProfileController.view" class="btn btn-default">Cancel</a>
                <button type="submit" name="submit" id="submit" class="btn btn-primary">Save</button>
                }
            </div>
        </div>
    </div>
}
