@import play.api.i18n.Messages
@import play.api.mvc.RequestHeader
@import org.webjars.play.WebJarsUtil
@import controllers.AssetsFinder
@import utils.TemplateHelpers._

@(user: models.User, profile: Option[models.TuteeProfile], psychogramData: String)(implicit request: RequestHeader, messages: Messages, webJarsUtil: WebJarsUtil, assets: AssetsFinder)

@main(messages("profile.title"), Some(user)) {
<div class="tutee-profile col-md-12">


    <div id="tutee" class="user data">
        <div class="col-md-12">
            <div class="row text-center">
                @avatar(user)
            </div>
            <div class="row text-center">
                <p><strong>@user.firstName.getOrElse("None") @user.lastName.getOrElse("None")</strong></p>
            </div>
            <div class="row">
                <p class="col-md-6"><strong>@messages("profile.gender"):</strong></p>
                <p class="col-md-6">@profile.map(p => messages("gender." + p.gender)).getOrElse("")</p>
            </div>
            <div class="row">
                <p class="col-md-6"><strong>@messages("profile.dob"):</strong></p>
                <p class="col-md-6">@profile.map(p => parseDate(p.dob)).getOrElse("")</p>
            </div>
            <div class="row">
                <p class="col-md-6"><strong>@messages("profile.class.level"):</strong></p>
                <p class="col-md-6">@profile.map(_.classLevel).getOrElse("")</p>
            </div>
            <div class="row">
                <p class="col-md-6"><strong>@messages("profile.school.name"):</strong></p>
                <p class="col-md-6">@profile.map(_.schoolName).getOrElse("")</p>
            </div>
            <div class="row">
                <p class="col-md-6"><strong>@messages("profile.language"):</strong></p>
                <p class="col-md-6">@profile.map(l => messages("language."+l.mainLanguage)).getOrElse("")</p>
            </div>

            </div>
        <div class="text-center"> <a href="@controllers.routes.TuteeProfileController.edit" class="btn btn-edit"><span class="glyphicon glyphicon-edit"></span> @messages("edit")</a></div>

    </div>

    <div class="psychogram col-md-6 text-center">


        @psychogram("width: 100%", "height: 100%", user, psychogramData)
        <button id="shower" class="col-xs-12 col-md-6">Profil zeigen/verbergen</button>
        <a href="@controllers.routes.MatchingController.view" class="col-xs-12 col-md-6 btn btn-find-tutor"><span class="glyphicon glyphicon-search"></span>  @messages("Tutor Finden")</a>
    </div>

    <script>
$( "button" ).click(function() {
  $( "#tutee" ).toggle( "slow" );
});
</script>

	<script>$('#navbar .nav #my-profile').addClass('active');</script>
</div>
}
