@import play.api.data.Form
@import play.api.i18n.Messages
@import play.api.mvc.RequestHeader
@import org.webjars.play.WebJarsUtil
@import controllers.AssetsFinder
@import b3.inline.fieldConstructor

@(profileForm: Form[models.TuteeProfile], user: models.User, allowedToEditQuestions: Boolean)(implicit request: RequestHeader, messages: Messages, webJarsUtil: WebJarsUtil, assets: AssetsFinder)

@main(messages("profile.title"), Some(user)) {
<div class="edit-profile-tutee col-md-8">
<script src='@assets.path("javascripts/bootstrap-slider.min.js")'></script>
<div class="col-md-10 col-md-offset-1">
			<div class="text-center">
				@avatar(user)
			</div>
		<div class="row data">
			<div class="col-md-12">
				@helper.form(action = controllers.routes.TuteeProfileController.submit(), 'enctype -> "multipart/form-data", 'onsubmit -> "return validateProfileForm();") {
					@helper.CSRF.formField
					<div class="text-center">
						<label for="upload" class="btn btn-xs">@messages("upload.image")</label>
						<input id="upload" type="file" style="visibility:hidden;" name="upload" accept="image/*" >
					</div>
					@b3.hidden(profileForm("userID"), 'value -> java.util.UUID.randomUUID())
					<div class="form-group">
						<div class="gender text-center">@b3.radio(profileForm("gender"),  options=models.enums.Gender.values.toSeq.map(g => g.toString -> ("gender."+g.toString)), '_label -> "profile.gender", '_default -> "choose.one", '_inline -> true)</div>
						<div class="class-level">@b3.select(profileForm("classLevel"), options=(1 to 12).map(s => s.toString -> s"Klasse $s") :+ ("13" -> "Abitur") :+ ("14" -> "MSA"), '_label -> "profile.class.level.edit", '_default -> "choose.one")</div>
						<div class="dob">@b3.date(profileForm("dob"), '_label -> "profile.dob.edit", 'class -> "form-control", 'required -> "true")</div>
						<div class="school-name">@b3.text(profileForm("schoolName"), '_label -> "profile.school.name.edit", 'class -> "form-control")</div>
						<div class="language">@b3.select(profileForm("learningLanguage"),  options=models.enums.Language.selectList(messages), '_label -> "profile.language.edit", '_default -> "choose.one")</div>
						<label for="phoneNumber">@messages("profile.phone"):</label>
						<input type="text" name="phoneNumber" id="phoneNumber" />
						@b3.textarea(profileForm("description"), '_label -> "profile.tutee.description.edit")

						<label for="subjectsImprove">@messages("profile.subject.improve.edit")</label>
						<div id="subjectsImprove" class="col-md-6 text-center">
							@b3.select(profileForm("subjects.subjectImprove1"),  options=models.enums.Subject.selectList(messages), '_default -> "choose.one")
							@b3.radio(profileForm("subjects.scoreSubjectImprove1"),  options=(1 to 6).map(s => s.toString -> s.toString), '_default -> "choose.one", '_inline -> true)
						</div>
						<div class="col-md-6 text-center">
							@b3.select(profileForm("subjects.subjectImprove2"),  options=models.enums.Subject.selectList(messages), '_default -> "choose.one")
							@b3.radio(profileForm("subjects.scoreSubjectImprove2"),  options=(1 to 6).map(s => s.toString -> s.toString), '_default -> "choose.one", '_inline -> true)
						</div>

						<label for="subjectsGoodAt">@messages("profile.subject.goodat.edit")</label>
						<div id="subjectsGoodAt" class="col-md-6 text-center">
							@b3.select(profileForm("subjects.subjectGoodAt1"),  options=models.enums.Subject.selectList(messages), '_default -> "choose.one")
							@b3.radio(profileForm("subjects.scoreSubjectGoodAt1"),  options=(1 to 6).map(s => s.toString -> s.toString), '_default -> "choose.one", '_inline -> true)
						</div>
						<div class="col-md-6 text-center">
							@b3.select(profileForm("subjects.subjectGoodAt2"),  options=models.enums.Subject.selectList(messages), '_default -> "choose.one")
							@b3.radio(profileForm("subjects.scoreSubjectGoodAt2"),  options=(1 to 6).map(s => s.toString -> s.toString), '_default -> "choose.one", '_inline -> true)
						</div>

						<label for="interests">@messages("profile.interest.edit")</label>
						<div id="interests" class="col-md-6">
							@b3.select(profileForm("interests.interest1"), options=models.enums.Interest.selectList(messages), '_default -> "choose.one")
						</div>
						<div class="col-md-6 text-center sliders">
							<p><input id="slider-interest1" class="slider" name='interests.timeInterest1' data-slider-id='ex1Slider' type="text" data-slider-ticks="[1, 5]" data-slider-ticks-labels='["@messages("profile.interest.time.very.little")", "@messages("profile.interest.time.many.hours")"]' data-slider-tooltip="hide" data-slider-min="1" data-slider-max="5" data-slider-step="1" data-slider-value='@profileForm.data.get("timeInterest1")'/></p>
						</div>
						<div class="col-md-6">
							@b3.select(profileForm("interests.interest2"), options=models.enums.Interest.selectList(messages), '_default -> "choose.one")
						</div>
						<div class="col-md-6 text-center sliders">
							<p><input id="slider-interest2" class="slider" name='interests.timeInterest2' data-slider-id='ex1Slider' type="text" data-slider-ticks="[1, 5]" data-slider-ticks-labels='["@messages("profile.interest.time.very.little")", "@messages("profile.interest.time.many.hours")"]' data-slider-tooltip="hide" data-slider-min="1" data-slider-max="5" data-slider-step="1" data-slider-value='@profileForm.data.get("timeInterest2")'/></p>

						</div>
						<div class="col-md-6">
							@b3.select(profileForm("interests.interest3"), options=models.enums.Interest.selectList(messages), '_default -> "choose.one")
						</div>
						<div class="col-md-6 text-center sliders">
							<p><input id="slider-interest3" class="slider" name='interests.timeInterest3' data-slider-id='ex1Slider' type="text" data-slider-ticks="[1, 5]" data-slider-ticks-labels='["@messages("profile.interest.time.very.little")", "@messages("profile.interest.time.many.hours")"]' data-slider-tooltip="hide" data-slider-min="1" data-slider-max="5" data-slider-step="1" data-slider-value='@profileForm.data.get("timeInterest3")'/></p>
						</div>
						@b3.select(profileForm("lessonType"), options=models.enums.LessonType.selectList(messages), '_label -> "profile.tutee.lesson.type.edit")
						@b3.text(profileForm("skype"), '_label -> "Skype")
						<div id="address">
							<div class="col-md-8">
								@b3.text(profileForm("address.street"), '_label -> "profile.street")
							</div>
							<div class="col-md-4">
								@b3.text(profileForm("address.postalCode"), '_label -> "profile.postalCode")
							</div>
						</div>
						@if(allowedToEditQuestions) {
							<button type="submit" class="btn btn-edit pull-right">@messages("next")<span class="glyphicon glyphicon-chevron-right"></span></button>
						} else {
							<button type="submit" class="btn btn-edit pull-right">@messages("save")<span class="glyphicon glyphicon-ok"></span></button>
						}
					</div>
				}
				<script>
			$('input[id^="slider-"]').slider();
			$("#upload").change(function() {
				readURL(this);
			});

			if ($('#lessonType :selected').val() == 'Online') {
				$('#address input').removeAttr('required');
				$('#skype').attr('required', 'true');
				$('#address').hide();
			} else if ($('#lessonType :selected').val() == 'Offline') {
				$('#skype').removeAttr('required');
				$('#address input').attr('required', 'true');
				$('#skype_field').hide();
			} else {
				$('#skype').attr('required', 'true');
				$('#address input').attr('required', 'true');
			}

			$('#lessonType').change(function() {
				if ($('#lessonType :selected').val() == 'Online') {
					$('#address input').removeAttr('required');
					$('#address').hide("slow");
					$('#skype_field').show("slow");
					$('#skype').attr('required', 'true');
				} else if ($('#lessonType :selected').val() == 'Offline') {
					$('#skype').removeAttr('required');
					$('#skype_field').hide("slow");
					$('#address').show("slow");
					$('#address input').attr('required', 'true');
				} else {
					$('#address').show("slow");
					$('#skype_field').show("slow");
					$('#skype').attr('required', 'true');
					$('#address input').attr('required', 'true');
				}
			});
		</script>
			</div>
		</div>
</div>
</div>
}
