@import play.api.data.Form
@import play.api.i18n.Messages
@import play.api.mvc.RequestHeader
@import org.webjars.play.WebJarsUtil
@import controllers.AssetsFinder
@import b3.inline.fieldConstructor

@(profileForm: Form[models.TuteeProfile], user: models.User, allowedToEditQuestions: Boolean)(implicit request: RequestHeader, messages: Messages, webJarsUtil: WebJarsUtil, assets: AssetsFinder)

@main(messages("profile.title"), Some(user)) {
<script src='@assets.path("javascripts/bootstrap-slider.min.js")'></script>
	<div class="col-md-10 col-md-offset-1">
			<legend>@messages("profile.edit")</legend>
			<div class="col-md-2 col-md-offset-5 thumb-post">
				@if(user.image.isDefined && user.image.get.nonEmpty) {
					<img src="@controllers.routes.ApplicationController.getImage" />
				} else {
					<img src="@user.avatarURL.getOrElse(assets.path("images/silhouette.png"))" />
				}
			</div>
		<div class="row data">
			<div class="col-md-12">
				@helper.form(action = controllers.routes.TuteeProfileController.submit(), 'enctype -> "multipart/form-data") {
					@helper.CSRF.formField
					<div class="text-center">
						<label for="picture" class="btn btn-xs">@messages("upload.image")</label>
						<input id="picture" type="file" style="visibility:hidden;" name="picture" accept="image/*" >
					</div>
					@b3.hidden(profileForm("userID"), 'value -> java.util.UUID.randomUUID())
					<div class="form-group">
						@b3.select(profileForm("gender"),  options=models.enums.Gender.values.toSeq.map(g => g.toString -> ("gender."+g.toString)), '_label -> "profile.gender")
						@b3.date(profileForm("dob"), '_label -> "profile.dob.edit", 'class -> "form-control")
						@b3.select(profileForm("classLevel"), options=(7 to 13).map(s => s.toString -> (s.toString + ". " + messages("profile.class.level"))), '_label -> "profile.class.level.edit")

						@b3.text(profileForm("schoolName"), '_label -> "profile.school.name.edit", 'class -> "form-control")
						@b3.select(profileForm("mainLanguage"),  options=models.enums.Language.selectList(messages), '_label -> "profile.language.edit")
						<label for="subjectsImprove">@messages("profile.subject.improve.edit")</label>
						<div id="subjectsImprove" class="col-md-6">
							@b3.select(profileForm("subjectImprove1"),  options=models.enums.Subject.selectList(messages))
							@b3.select(profileForm("subjectImprove2"),  options=models.enums.Subject.selectList(messages))
						</div>
						<div class="col-md-6">
							@b3.select(profileForm("scoreSubjectImprove1"),  options=(1 to 6).map(s => s.toString -> s.toString))
							@b3.select(profileForm("scoreSubjectImprove2"),  options=(1 to 6).map(s => s.toString -> s.toString))
						</div>
						<label for="subjectsGoodAt">@messages("profile.subject.goodat.edit")</label>
						<div id="subjectsGoodAt" class="col-md-6">
							@b3.select(profileForm("subjectGoodAt1"),  options=models.enums.Subject.selectList(messages))
							@b3.select(profileForm("subjectGoodAt2"),  options=models.enums.Subject.selectList(messages))
						</div>
						<div class="col-md-6">
							@b3.select(profileForm("scoreSubjectGoodAt1"),  options=(1 to 6).map(s => s.toString -> s.toString))
							@b3.select(profileForm("scoreSubjectGoodAt2"),  options=(1 to 6).map(s => s.toString -> s.toString))
						</div>

						<label for="interests">@messages("profile.interest.edit")</label>
						<div id="interests" class="col-md-6">
							@b3.select(profileForm("interest1"), options=models.enums.Interest.selectList(messages))
							@b3.select(profileForm("interest2"), options=models.enums.Interest.selectList(messages))
							@b3.select(profileForm("interest3"), options=models.enums.Interest.selectList(messages))
						</div>
						<div class="col-md-6 text-center sliders">
							<p><input id="slider-interest1" class="slider" name='timeInterest1' data-slider-id='ex1Slider' type="text" data-slider-ticks="[1, 5]" data-slider-ticks-labels='["@messages("profile.interest.time.very.little")", "@messages("profile.interest.time.many.hours")"]' data-slider-tooltip="hide" data-slider-min="1" data-slider-max="5" data-slider-step="1" data-slider-value='@profileForm.data.get("timeInterest1")'/></p>
							<p><input id="slider-interest2" class="slider" name='timeInterest2' data-slider-id='ex1Slider' type="text" data-slider-ticks="[1, 5]" data-slider-ticks-labels='["@messages("profile.interest.time.very.little")", "@messages("profile.interest.time.many.hours")"]' data-slider-tooltip="hide" data-slider-min="1" data-slider-max="5" data-slider-step="1" data-slider-value='@profileForm.data.get("timeInterest2")'/></p>
							<p><input id="slider-interest3" class="slider" name='timeInterest3' data-slider-id='ex1Slider' type="text" data-slider-ticks="[1, 5]" data-slider-ticks-labels='["@messages("profile.interest.time.very.little")", "@messages("profile.interest.time.many.hours")"]' data-slider-tooltip="hide" data-slider-min="1" data-slider-max="5" data-slider-step="1" data-slider-value='@profileForm.data.get("timeInterest3")'/></p>
						</div>
						@if(allowedToEditQuestions) {
							<button type="submit" class="btn btn-primary pull-right">@messages("next")<span class="glyphicon glyphicon-chevron-right"></span></button>
						} else {
							<button type="submit" class="btn btn-primary pull-right">@messages("save")<span class="glyphicon glyphicon-ok"></span></button>
						}
						}
					</div>
			</div>
		</div>
		<script>
				$('input[id^="slider-"]').slider();
			</script>
	</div>
}
