@import play.api.i18n.Messages
@import play.api.mvc.RequestHeader
@import org.webjars.play.WebJarsUtil
@import controllers.AssetsFinder
@import utils.TemplateHelpers._

@(user: models.User, profile: Option[models.TutorProfile], psychogramData: String)(implicit request: RequestHeader, messages: Messages, webJarsUtil: WebJarsUtil, assets: AssetsFinder)

@main(messages("profile.title"), Some(user)) {
<div class="col-md-12">

    <div class="user row data col-md-4" style="margin-top:20px; margin-right:10px;">
        <div class="col-md-12">
            <div class="col-md-6 col-md-offset-1 avatar">
                @if(user.image.isDefined && user.image.get.nonEmpty) {
                    <img class="img-circle" src="@controllers.routes.ApplicationController.getImage" style="width:130px; height:130px; object-fit:cover;"/>
                } else {
                    <img class="img-circle" src="@user.avatarURL.getOrElse(assets.path("images/yes.png"))" style="width:130px; height:130px; object-fit:cover;"/>
                }
            </div>
            <div class="row">
                <p class="col-md-6"><strong>@messages("first.name"):</strong></p>
                <p class="col-md-6">@user.firstName.getOrElse("None")</p>
            </div>
            <div class="row">
                <p class="col-md-6"><strong>@messages("last.name"):</strong></p>
                <p class="col-md-6">@user.lastName.getOrElse("None")</p>
            </div>
            <div class="row">
                <p class="col-md-6"><strong>@messages("profile.gender"):</strong></p>
                <p class="col-md-6">@profile.map(p => messages("gender." + p.gender)).getOrElse("")</p>
            </div>
            <div class="row">
                <p class="col-md-6"><strong>@messages("profile.dob"):</strong></p>
                <p class="col-md-6">@profile.map(p => parseDate(p.dob)).getOrElse("")</p>
            </div>
            <div class="row">
                <p class="col-md-6"><strong>@messages("profile.language"):</strong></p>
                <p class="col-md-6">@profile.map(p => messages("language."+p.mainLanguage)).getOrElse("")</p>
            </div>
            <div class="row">
                <p class="col-md-6"><strong>@messages("profile.working.language"):</strong></p>
                <p class="col-md-6">@profile.map(p => messages("language."+p.workingLanguage)).getOrElse("")</p>
            </div>

            </div>
			</div>
			
			<div class="user row data col-md-4" style="margin-top:20px; ">
        <div class="col-md-12">			
			<div class="row">
                <p class="col-md-6"><strong>@messages("profile.occupation.degree"):</strong></p>
                <p class="col-md-6">@profile.map(p => messages("occupationDegree." + p.occupationDegree)).getOrElse("")</p>
            </div>
            <div class="row">
                <p class="col-md-6"><strong>@messages("profile.occupation"):</strong></p>
                <p class="col-md-6">@profile.map(_.occupation).getOrElse("")</p>
            </div>
            <div class="row">
                <p class="col-md-6"><strong>@messages("profile.institute.attended"):</strong></p>
                <p class="col-md-6">@profile.map(_.instituteAttended).getOrElse("")</p>
            </div>
            <div class="row">
                <p class="col-md-6"><strong>@messages("profile.wished.salary"):</strong></p>
                <p class="col-md-6">@profile.map(_.wishedSalary).getOrElse("")</p>
            </div>
            <div class="row">
                <p class="col-md-6"><strong>@messages("profile.lesson.type"):</strong></p>
                <p class="col-md-6">@profile.map(p => messages("lessonType." + p.lessonType)).getOrElse("")</p>
            </div>
			
            @if(profile.flatMap(_.place).isDefined) {
                <div class="row">
                    <p class="col-md-6"><strong>@messages("profile.tutor.place"):</strong></p>
                    <p class="col-md-6">@profile.flatMap(_.place).getOrElse("")</p>
                </div>
            }
        </div>
        <a href="@controllers.routes.TutorProfileController.edit" class="btn btn-bearbeiten-tutor"><span class="glyphicon glyphicon-edit"></span>@messages("edit")</a>
		
        </div>

    <div class="col-md-4" style="margin-left:750px; margin-top:-490px;">
        @psychogram("500px", "500px", user, psychogramData)
        <a href="@controllers.routes.TutorProfileController.students" class="btn btn-find-student"><span class="glyphicon glyphicon-search"></span>  @messages("tutor.my.students")</a>
    </div>


	<div class="user row data col-md-8" style=" margin-right: 500px; margin-bottom: 20px;">
		<div id="hover" class="row">
                <p class="col-md-6"><strong>@messages("profile.description"):</strong></p>
                <p class="col-md-6">@profile.map(_.description).getOrElse("")</p>
            </div>
		</div>
</div>
}
<script>$('#navbar .nav #my-profile').addClass('active');</script>