@import play.api.i18n.Messages
@import play.api.mvc.RequestHeader
@import org.webjars.play.WebJarsUtil
@import controllers.AssetsFinder
@import utils.TemplateHelpers._

@(user: models.User, profile: Option[models.TuteeProfile], psychogramData: String)(implicit request: RequestHeader, messages: Messages, webJarsUtil: WebJarsUtil, assets: AssetsFinder)

@main(messages("profile.title"), Some(user)) {
<div class="col-md-12">
        <legend>@messages("profile")</legend>
    <div class="user row data col-md-4">
        <div class="col-md-12">
            <div class="row">
                <p class="col-md-6"><strong>@messages("first.name"):</strong></p>
                <p class="col-md-6">@user.firstName.getOrElse("None")</p>
            </div>
            <div class="row">
                <p class="col-md-6"><strong>@messages("last.name"):</strong></p>
                <p class="col-md-6">@user.lastName.getOrElse("None")</p>
            </div>
            <div class="row">
                <p class="col-md-6"><strong>@messages("profile.gender"):</strong></p>
                <p class="col-md-6">@profile.map(p => messages("gender." + p.gender)).getOrElse("")</p>
            </div>
            <div class="row">
                <p class="col-md-6"><strong>@messages("profile.dob"):</strong></p>
                <p class="col-md-6">@profile.map(p => parseDate(p.dob)).getOrElse("")</p>
            </div>
            <div class="row">
                <p class="col-md-6"><strong>@messages("profile.class.level"):</strong></p>
                <p class="col-md-6">@profile.map(_.classLevel).getOrElse("")</p>
            </div>
            <div class="row">
                <p class="col-md-6"><strong>@messages("profile.school.name"):</strong></p>
                <p class="col-md-6">@profile.map(_.schoolName).getOrElse("")</p>
            </div>
            <div class="row">
                <p class="col-md-6"><strong>@messages("profile.language"):</strong></p>
                <p class="col-md-6">@profile.map(l => messages("language."+l.mainLanguage)).getOrElse("")</p>
            </div>
            </div>
        @*<a href="@controllers.routes.ProfileController.edit" class="btn btn-default"><span class="glyphicon glyphicon-edit"></span>@messages("edit")</a>*@
        </div>

    <div class="col-md-6 col-md-offset-1">
        @psychogram("600px", "600px", user, psychogramData)
        <a href="@controllers.routes.MatchingController.view" class="btn btn-default"><span class="glyphicon glyphicon-search"></span>@messages("profile.tutor.find")</a>
    </div>
</div>
}
