@import play.api.i18n.Messages
@import play.api.mvc.RequestHeader
@import org.webjars.play.WebJarsUtil
@import controllers.AssetsFinder
@import utils.TemplateHelpers._

@(user: models.User, profile: Option[models.TutorProfile], psychogramData: String)(implicit request: RequestHeader, messages: Messages, webJarsUtil: WebJarsUtil, assets: AssetsFinder)

@main(messages("profile.title"), Some(user)) {
<div class="col-md-12">

    <div class="user row data col-md-4" style="margin-top:70px;">
        <div class="col-md-12">
            <div class="col-md-6 col-md-offset-1 thumb-post">
                @if(user.image.isDefined && user.image.get.nonEmpty) {
                    <img src="@controllers.routes.ApplicationController.getImage" />
                } else {
                    <img src="@user.avatarURL.getOrElse(assets.path("images/silhouette.png"))" />
                }
            </div>
            <div class="row">
                <p class="col-md-6"><strong>@messages("first.name"):</strong></p>
                <p class="col-md-6">@user.firstName.getOrElse("None")</p>
            </div>
            <div class="row">
                <p class="col-md-6"><strong>@messages("last.name"):</strong></p>
                <p class="col-md-6">@user.lastName.getOrElse("None")</p>
            </div>
            <div class="row">
                <p class="col-md-6"><strong>@messages("profile.gender"):</strong></p>
                <p class="col-md-6">@profile.map(p => messages("gender." + p.gender)).getOrElse("")</p>
            </div>
            <div class="row">
                <p class="col-md-6"><strong>@messages("profile.dob"):</strong></p>
                <p class="col-md-6">@profile.map(p => parseDate(p.dob)).getOrElse("")</p>
            </div>
            <div class="row">
                <p class="col-md-6"><strong>@messages("profile.language"):</strong></p>
                <p class="col-md-6">@profile.map(p => messages("language."+p.mainLanguage)).getOrElse("")</p>
            </div>
            <div class="row">
                <p class="col-md-6"><strong>@messages("profile.working.language"):</strong></p>
                <p class="col-md-6">@profile.map(p => messages("language."+p.workingLanguage)).getOrElse("")</p>
            </div>
            <div class="row">
                <p class="col-md-6"><strong>@messages("profile.description"):</strong></p>
                <p class="col-md-6">@profile.map(_.description).getOrElse("")</p>
            </div>
            </div>
			</div>
			
			<div class="user row data col-md-4" style="margin-top:70px;">
        <div class="col-md-12">			
			<div class="row">
                <p class="col-md-6"><strong>@messages("profile.occupation.degree"):</strong></p>
                <p class="col-md-6">@profile.map(p => messages("occupationDegree." + p.occupationDegree)).getOrElse("")</p>
            </div>
            <div class="row">
                <p class="col-md-6"><strong>@messages("profile.occupation"):</strong></p>
                <p class="col-md-6">@profile.map(_.occupation).getOrElse("")</p>
            </div>
            <div class="row">
                <p class="col-md-6"><strong>@messages("profile.institute.attended"):</strong></p>
                <p class="col-md-6">@profile.map(_.instituteAttended).getOrElse("")</p>
            </div>
            <div class="row">
                <p class="col-md-6"><strong>@messages("profile.wished.salary"):</strong></p>
                <p class="col-md-6">@profile.map(_.wishedSalary).getOrElse("")</p>
            </div>
            <div class="row">
                <p class="col-md-6"><strong>@messages("profile.lesson.type"):</strong></p>
                <p class="col-md-6">@profile.map(p => messages("lessonType." + p.lessonType)).getOrElse("")</p>
            </div>
			
            @if(profile.flatMap(_.place).isDefined) {
                <div class="row">
                    <p class="col-md-6"><strong>@messages("profile.tutor.place"):</strong></p>
                    <p class="col-md-6">@profile.flatMap(_.place).getOrElse("")</p>
                </div>
            }
        </div>
        <a href="@controllers.routes.TutorProfileController.edit" class="btn btn-bearbeiten-tutor"><span class="glyphicon glyphicon-edit"></span>@messages("edit")</a>
        </div>

    <div class="col-md-6 col-md-offset-1" style="margin-left:700px; margin-top:-550px;">
        @psychogram("600px", "600px", user, psychogramData)
    </div>
</div>
}
