@import play.api.data.Form
@import forms.QuestionsForm.Data
@import play.api.i18n.Messages
@import play.api.mvc.RequestHeader
@import org.webjars.play.WebJarsUtil
@import controllers.AssetsFinder
@import play.twirl.api.Html

@(questionnaireForm: Form[Data], questions: Seq[models.QuestionWithAnswer], user: models.User, currentPage: Int, totalPages: Int)(implicit request: RequestHeader, messages: Messages, webJarsUtil: WebJarsUtil, assets: AssetsFinder)

@main(messages("questionnaire.title"), Some(user)) {
<script src='@assets.path("javascripts/bootstrap-slider.min.js")'></script>

    <div class="col-md-10 col-md-offset-1">
        <div class="row">
            @if(user.userType == models.enums.UserType.Tutor) {
                <legend>@messages("questionnaire.tutor")</legend>
            } else {
                <legend>@messages("questionnaire.tutee")</legend>
            }
        </div>
        <div class="col-md-12">
            @helper.form(action = controllers.routes.QuestionsController.submit()) {
            @helper.CSRF.formField
                @for(i <- 0 to questions.length - 1) {
                    <div class="form-group">
                        <input type="hidden" name='questions[@i].questionId' value='@questions(i).questionId' />
                        <input type="hidden" name='questions[@i].answerId' value='@questions(i).answerId' />
                        <input type="hidden" name='page' value='@currentPage' />
                        <div class="row" style="padding-top:10px">
                            <div class="col-md-6" >
                                <p>@questions(i).questionText</p>
                            </div>
                            <div class="col-md-5 col-md-offset-1 text-center">
                                <input id="slider-@questions(i).questionId" data-slider-ticks="[1, 5]" data-slider-ticks-labels='["@messages("strongly.disagree")", "@messages("strongly.agree")"]' data-slider-tooltip="hide" name='questions[@i].value' data-slider-id='ex1Slider' type="text" data-slider-min="1" data-slider-max="5" data-slider-step="1" data-slider-value='@questions(i).score'/>
                            </div>
                        </div>
                }
                    <div class="text-center">
                        @if(currentPage != 1) {
                            <a class="glyphicon glyphicon-chevron-left btn btn-primary" href="@controllers.routes.QuestionsController.view(currentPage-1)"></a>
                        }
                        <span>@currentPage/@totalPages</span>
                        @if(currentPage == totalPages) {
                            <button type="submit" name="submit" id="submit" class="btn btn-primary pull-right">@messages("finish.and.view.profile")</button>
                        } else {
                            <button type="submit" name="submit" id="submit" class="glyphicon glyphicon-chevron-right btn btn-primary"></button>
                        }
                    </div>

            }
            <script>
                $('input[id^="slider-"]').slider()
            </script>
        </div>


    </div>
}
