@import play.api.i18n.Messages
@import play.api.mvc.RequestHeader
@import org.webjars.play.WebJarsUtil
@import controllers.AssetsFinder

@(user: models.User)(implicit request: RequestHeader, messages: Messages, webJarsUtil: WebJarsUtil, assets: AssetsFinder)

@main(messages("my.lessons"), Some(user)) {
<script src='@assets.path("javascripts/calendar/renderFullCalendarTutee.js")'></script>

    @calendar()
}
<div id="fullCalModal" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span> <span class="sr-only">@messages("close")</span></button>
                <h4 id="modalTitle" class="modal-title"></h4>
            </div>
            <div id="modalBody" class="modal-body">
                <div class="row">
                    <div class="col-md-4">@messages("full.name"):</div><div id="name" class="col-md-8 text-center"></div>
                </div>
                <div class="row">
                    <div class="col-md-4">@messages("time"):</div><div id="time" class="col-md-8 text-center"></div>
                </div>
                <div class="row">
                    <div class="col-md-4">@messages("subjects"):</div><div id="subjects" class="col-md-8 text-center"></div>
                </div>
                <div class="row">
                    <div class="col-md-4">@messages("description"):</div><div id="eventDescription" class="col-md-8 text-center"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">@messages("close")</button>
            </div>
        </div>
    </div>
</div>
<script>$('#navbar .nav #my-lessons').addClass('active');</script>